<a href="https://colab.research.google.com/github/LakshmiAhala/python_101/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

#Data Type
#List Type

y = [10, 50, "python", False, 5.6]
print(y)

[10, 50, 'python', False, 5.6]

In [ ]:
#@title 1.Creating an empty list
x = []
print(x)
print("Length of this list: ", len(x))

[]
Length of this list:  0

In [ ]:
#@title 2.Creating a list with some elements
a = [10, 20, 30]
print(a)

[10, 20, 30]

In [ ]:
#@title 3.Adding elements at the end
b =[10, 11, 33]
b.append(-1)
b.append(6)
b.append("True")
b.append("Ahala")
b.append(2.7)
print(b)

[10, 11, 33, -1, 6, 'True', 'Ahala', 2.7]

In [ ]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"

z = [5,6,7,8,9]

third = z[2]
print("The third element in the list is: ", third)

fifth = z[4]
print("The fifth element in the list is: ", fifth)

The third element in the list is:  7
The fifth element in the list is:  9

In [ ]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

m = [10, 45, 67, -56, "code", 3, 11, -12, 100, 97, -56, "code", "hi", "bff", "Ahala", 67, 45, 11 ]
count = len(m)
last_element = m[count-1]
print("The last element is: ", last_element)

The last element is:  11

In [ ]:
#@title 6.Adding an element at the front of the list

my_list = [11,22,33]

# Add 44 at the front of the list
my_list.insert(0,44)
print(my_list)

# Add -13 at position 3 in the list
my_list.insert(2, -13)
print(my_list)

# Add "Jane" at position 5 in the list
my_list.insert(4, "Jane")
print(my_list)

[44, 11, 22, 33]
[44, 11, -13, 22, 33]
[44, 11, -13, 22, 'Jane', 33]

In [ ]:
#@title 7.Adding an element anywhere (at a specific index) 

my_list = [1,2,3]
print(my_list)

# Add 30 at position 3
my_list.insert(2, 30)
print(my_list)

[1, 2, 3]
[1, 2, 30, 3]

In [ ]:
#@title 8.Updating (or Replacing) an element

# List 1
my_list = [1,2,3]
print("List 1")
print(my_list)

# Replace the third element with 6
my_list[2] = 6
print(my_list)

# Replace the first element with 2
my_list[0] = 2
print(my_list)

# Replace the second element with 4
my_list[1] = 4
print(my_list) 

# List 2
list = [1,2,3]
print("\nList 2")
print(list)

# Replace the second element with 5
list[1] = 5
print(list)

# Replace the first element with BFF
list[0] = "BFF"
print(list)

List 1
[1, 2, 3]
[1, 2, 6]
[2, 2, 6]
[2, 4, 6]

List 2
[1, 2, 3]
[1, 5, 3]
['BFF', 5, 3]

In [ ]:
#@title 9.Looping through the list (just for READING)\

# Printing every element

my_list = [1,2,3,4,5]

for x in my_list:
    print(x)
    
# Finding sum using loop

my_list = [1,2,3,4,5]

total = 0

for x in my_list:
    total = total + x
    
print("Total of the list: ", total)

# Finding the sum using the built-in function
total = sum(my_list)
print("Total of the list: ", total)

1
2
3
4
5
Total of the list:  15
Total of the list:  15

In [ ]:
#@title 10.Looping through the list (for UPDATING)

my_list = [1, 3, 5, 7, 9]

length = len(my_list)

for i in range(length):
  current_element = my_list[i]
  print(current_element)

1
3
5
7
9

In [ ]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

my_list = [5,6,7,8,9]
length = len(my_list)
print("Number of elements in this list is: ", length)

Number of elements in this list is:  5

In [ ]:
#@title 12.Common Operations: Find the maximum in the list

my_list = [1,6,4,5,8,9,7,3,2,0]
max1 = max(1,6,4,5,8,9,7,3,2,0)

print("The maximum element in this list is: ", max1)

The maximum element in this list is:  9

In [ ]:
#@title 13.Common Operations: Find the minimum in the list

my_list = [2,5,8,6,4,1,0,9,3,7]
min1 = min(2,5,8,6,4,1,0,9,3,7)

print("The minimum element in this list is: ", min1)

The minimum element in this list is:  0

In [ ]:
#@title 14.Common Operations: Find the sum of elements in the list

# Example 1
my_list1 = [23,89]
total1 = sum(my_list)
print("The sum of the elements is: ", total1)

# Example 2

my_list2 = [78, 65] 
total2 = sum(my_list1)
print("The sum of the elements is: ", total2)

The sum of the elements is:  112
The sum of the elements is:  112

In [ ]:
#@title 14.Removing an element by value

my_list = [2,3]
print("The list before removing an element: ", my_list)

# Removing 3
my_list.remove(3)
print("List after removing an element: ", my_list)

The list before removing an element:  [2, 3]
List after removing an element:  [2]

In [ ]:
#@title 15.Removing the last element in the list

my_list = [1,2,3]
length = len(my_list)
print("List before removing the last element", my_list)

# Removing the last element
del my_list[length - 1]
print("List after removing the last element: ", my_list)

List before removing the last element [1, 2, 3]
List after removing the last element:  [1, 2]

In [ ]:
#@title 16.Removing an element at a given index

my_list = [1, 2, 3, 4, 5]
print("List before removing the element", my_list)

# Removing the 4th element
del my_list[3]
print("List after removing the 4th element: ", my_list)

# Removing the 2nd element
del my_list[1]
print("List after removing the 2nd element: ", my_list)

List before removing the element [1, 2, 3, 4, 5]
List after removing the 4th element:  [1, 2, 3, 5]
List after removing the 2nd element:  [1, 3, 5]
List after removing the 1st element:  [3, 5]

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists